# IDEs
.cursor/
.vscode/

.DS_Store
src/.DS_Store
imgs/.DS_Store

.venv/
venv/

# Notes
freezer/
notes/

# Extra images
imgs/extra-imgs/

# Data
src/data/

# Node
src/node_modules/
src/dist/

# Environment variables
src/.env
.env